* {
	font-family: 'Muli', sans-serif;
}

div#textArea {
	position: fixed;
	top: 0;
	left: 10px;
}


div#gameArea {
    text-align: center;
}

div#scoreArea {
	font-weight: bold;
	font-size: 150%;
	margin: 10px;
}